In [3]:
import sqlite3
# Prisijungimas prie duomenų bazės
con = sqlite3.connect("tutorial.db")
cursor = con.cursor()

In [ ]:
# Sukuria lentelę Persons
cursor.execute("""CREATE TABLE Persons (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    LastName TEXT,
    FirstName TEXT,
    Address TEXT,
    City TEXT
);""")

In [4]:
# Duomenų įterpimas į jau anksčiau sukurtą duomenų bazės lentelę
cursor.execute("""INSERT INTO Persons (FirstName, LastName, Address, City)
VALUES ('Mantas', 'Rimavičius', 'Pilies g. 12-1', 'Kelmė');""")

In [ ]:
# Įrašų gavimas atfiltruojant pagal pirmą raidę 'P' pavardėje
from rich import print
cursor.execute("""SELECT * FROM Persons WHERE LastName like "P%";""")
results = cursor.fetchall()
print(results)

[(2, 'Paulavicius', 'Jonas', 'London st. 4', 'UK, Bureg')]

In [25]:
print(results[0][4])

UK, Bureg

In [31]:
# Specifinių stulpelių iš DB lentelės pasirinkimas, atfiltruojant įrašą pagal ID
cursor.execute("""SELECT LastName, FirstName, id FROM Persons WHERE id = 1;""")
results = cursor.fetchall()

print(results[0])

('Doe', 'John', 1)

In [ ]:
# Įrašų atnaujinimas
cursor.execute("""UPDATE Persons
SET Address = 'Castle st. 8', City = 'UK, Juliet'
WHERE id = 2;""")

In [ ]:
# Įrašų ištrynimas
cursor.execute("""DELETE from Persons
WHERE id = 4;""")

[]

In [ ]:
# Duomenų išsaugojimas DB
con.commit()

[]